body {
    background-color: rgb(251,251,249);
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 80px;
}

.carousel {
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
}

.carousel-caption {
    top: 50%;
    bottom: initial;
    transform: translateY(-50%);
}

.nav {
    background: rgb(140,21,21);
}

.nav text{
    color:#fff;
}

.jumbotron {
    background-color: rgb(213, 208, 192);
    padding: 15px;
}

.seal {
    background-color: rgb(140,21,21);
}

.address p {
font-size:16px;
}

.address a {
    font-size:16px;
    color:darkblue;
}

.icon td {
  padding: 20px;
}

.footer {
    min-width: 100%;
    min-height: 100%;
    background-color: rgb(251,251,249);
}

td { 
    padding: 5px;
}

/* hierarchical list*/

ul, #hierarchy {
    list-style-type: none;
}

#hierarchy {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}
